

.banner__container{
background-image: url(../../../public/images/Desenvolvedor\ web.png) ;
background-size: 100% ;
background-size: cover;
background-repeat: no-repeat;

}



.banner__text-container{
    display: flex;
    flex-direction: column;
    width: 50%;

}
.banner__h1{
    color: white;
    font-size: 60px;
    width: 100%;
    font-family: 'Merienda', cursive;
    text-align: center;

}

